PORT=8080
DB_URL="mongodb://localhost:27017/ariadne"
CLIENT_URL="https://ariadneg.com"

JWT_SECRET="your_jwt_secret_here"
JWT_EXPIRES_IN="7d"

# Resend API Key
RESEND_API_KEY="your_resend_api_key_here"
